<div id="wrapper">
	<div class="container">
		<h4 class="condensed thin">Click on the links below to get news articles from each source </h4>
		<a href="/vice">Vice News</a>
		<a href="/huffpost" id="huffButton">Huffington Post News</a>
		<a href="/npr" id="nprButton">NPR News</a>
	</div>
	<div id="articleHeader"></div>
	<div id="articles"></div>
	<div id="notes"></div>
</div>